In [107]:
import pandas as pd
import numpy as np

Загрузка данных.

In [108]:
data = pd.read_csv("./dataset_Facebook.csv", sep=";")

In [109]:
data.head(10)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142

Вычисление среднего, максимального/минимального значений, медианы и моды для всего массива в целом. Это можно сделать разными способами. Можно вывести в одной таблице все показатели для всех переменных.

In [110]:
data.info()
#видно, что есть пропущенные значения в некоторых переменных (фичей, столбцов)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
Page total likes                                                       500 non-null int64
Type                                                                   500 non-null object
Category                                                               500 non-null int64
Post Month                                                             500 non-null int64
Post Weekday                                                           500 non-null int64
Post Hour                                                              500 non-null int64
Paid                                                                   499 non-null float64
Lifetime Post Total Reach                                              500 non-null int64
Lifetime Post Total Impressions                                        500 non-null int64
Lifetime Engaged Users                                                 500 non-null int64
Lifetime Post Consumers                                                500 non-null int64
Lifetime Post Consumptions                                             500 non-null int64
Lifetime Post Impressions by people who have liked your Page           500 non-null int64
Lifetime Post reach by people who like your Page                       500 non-null int64
Lifetime People who have liked your Page and engaged with your post    500 non-null int64
comment                                                                500 non-null int64
like                                                                   499 non-null float64
share                                                                  496 non-null float64
Total Interactions                                                     500 non-null int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [111]:
data.describe(exclude = 'object')
#описательная статистика только для численных переменных (фичей, столбцов)

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

А можно смотреть отдельно по каждой метрике для всех переменных. В Python есть встроенные функции mean, max, min, но они проигрывают по времени работы, функциям из библиотеки NumPy.

In [112]:
np.mean(data)

Page total likes                                                       123194.176000
Category                                                                    1.880000
Post Month                                                                  7.038000
Post Weekday                                                                4.150000
Post Hour                                                                   7.840000
Paid                                                                        0.278557
Lifetime Post Total Reach                                               13903.360000
Lifetime Post Total Impressions                                         29585.948000
Lifetime Engaged Users                                                    920.344000
Lifetime Post Consumers                                                   798.772000
Lifetime Post Consumptions                                               1415.130000
Lifetime Post Impressions by people who have liked your Page            16766.376000
Lifetime Post reach by people who like your Page                         6585.488000
Lifetime People who have liked your Page and engaged with your post       609.986000
comment                                                                     7.482000
like                                                                      177.945892
share                                                                      27.266129
Total Interactions                                                        212.120000
dtype: float64

In [113]:
np.max(data)
#np.min(data)

Page total likes                                                        139441
Type                                                                     Video
Category                                                                     3
Post Month                                                                  12
Post Weekday                                                                 7
Post Hour                                                                   23
Paid                                                                         1
Lifetime Post Total Reach                                               180480
Lifetime Post Total Impressions                                        1110282
Lifetime Engaged Users                                                   11452
Lifetime Post Consumers                                                  11328
Lifetime Post Consumptions                                               19779
Lifetime Post Impressions by people who have liked your Page           1107833
Lifetime Post reach by people who like your Page                         51456
Lifetime People who have liked your Page and engaged with your post       4376
comment                                                                    372
like                                                                      5172
share                                                                      790
Total Interactions                                                        6334
dtype: object

In [114]:
data.median()

Page total likes                                                       129600.0
Category                                                                    2.0
Post Month                                                                  7.0
Post Weekday                                                                4.0
Post Hour                                                                   9.0
Paid                                                                        0.0
Lifetime Post Total Reach                                                5281.0
Lifetime Post Total Impressions                                          9051.0
Lifetime Engaged Users                                                    625.5
Lifetime Post Consumers                                                   551.5
Lifetime Post Consumptions                                                851.0
Lifetime Post Impressions by people who have liked your Page             6255.5
Lifetime Post reach by people who like your Page                         3417.0
Lifetime People who have liked your Page and engaged with your post       412.0
comment                                                                     3.0
like                                                                      101.0
share                                                                      19.0
Total Interactions                                                        123.5
dtype: float64

In [115]:
data.mode().head(5)
#для некоторых переменных получилось несколько мод, т.е. несколько дискретных значений, которые встречаются в выборке одинаковое количество (максимальное) раз.

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136393.0,Photo,1.0,10.0,7.0,3.0,0.0,677.0,4372.0,537.0,182.0,431.0,1210.0,690,403.0,0.0,98.0,13.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2232.0,6503.0,NaN,298.0,513.0,1284.0,704,NaN,NaN,NaN,14.0,39.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2645.0,7004.0,NaN,319.0,599.0,2541.0,1228,NaN,NaN,NaN,NaN,75.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2938.0,8533.0,NaN,322.0,652.0,2888.0,1640,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3322.0,8745.0,NaN,335.0,719.0,3675.0,1674,NaN,NaN,NaN,NaN,NaN

Описательная статистика для каждого типа контента (столбец Type) в отдельности.

In [116]:
data.groupby('Type').mean()
#data.groupby('Type').median()
#data.groupby('Type').min()
#data.groupby('Type').max()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,116363.181818,1.136364,6.590909,4.272727,5.727273,0.272727,18544.590909,28725.454545,342.818182,292.681818,374.090909,11148.590909,6544.363636,210.545455,2.818182,73.318182,12.909091,89.045455
Photo,122354.171362,1.917840,6.805164,4.107981,7.997653,0.280000,13137.814554,28994.497653,818.946009,690.431925,1299.025822,16422.483568,6059.103286,507.305164,7.492958,182.611765,27.158768,216.579812
Status,132647.044444,2.022222,9.066667,4.577778,7.244444,0.222222,13078.888889,24244.466667,2040.222222,1949.555556,2838.866667,18664.266667,9908.577778,1719.844444,8.911111,176.711111,31.422222,217.044444
Video,135014.857143,1.000000,9.571429,3.571429,8.714286,0.571429,51205.714286,102622.428571,1707.000000,1584.714286,2600.142857,43149.857143,17386.285714,979.428571,12.285714,231.428571,52.142857,295.857143

Можно сразу все метрики по всем переменным, но на это неудобно смотреть.

In [117]:
data.groupby('Type').agg(['mean', 'min', 'max', 'median'])

       Page total likes                          Category                 \
                   mean     min     max  median      mean min max median
Type
Link      116363.181818   85979  138895  115396  1.136364   1   3      1
Photo     122354.171362   81370  139441  128032  1.917840   1   3      2
Status    132647.044444  104070  139441  135713  2.022222   1   3      2
Video     135014.857143  126424  138895  137893  1.000000   1   1      1

       Post Month      ...      like             share                      \
             mean min  ...       max median       mean   min    max median
Type                   ...
Link     6.590909   1  ...     379.0   37.0  12.909091   0.0   44.0   10.5
Photo    6.805164   1  ...    5172.0  100.0  27.158768   0.0  790.0   19.0
Status   9.066667   3  ...     859.0  150.0  31.422222   1.0  123.0   28.0
Video    9.571429   6  ...     449.0  204.0  52.142857  13.0  121.0   44.0

       Total Interactions
                     mean min   max median
Type
Link            89.045455   6   420   52.5
Photo          216.579812   0  6334  122.0
Status         217.044444  17  1009  186.0
Video          295.857143  81   550  271.0

[4 rows x 72 columns]

Можно посмотреть по каким-то отдельным переменным (например, share и likes).

In [118]:
data.groupby('Type')[['share', 'like']].describe()
#посты с видео набирают, в среднем, больше лайков и репостов, чем остальные

        share                                                        like  \
        count       mean        std   min   25%   50%   75%    max  count
Type
Link     22.0  12.909091  11.751025   0.0   5.5  10.5  15.0   44.0   22.0
Photo   422.0  27.158768  44.919679   0.0  10.0  19.0  32.0  790.0  425.0
Status   45.0  31.422222  24.272589   1.0  16.0  28.0  39.0  123.0   45.0
Video     7.0  52.142857  42.643595  13.0  13.5  44.0  80.0  121.0    7.0


              mean         std   min    25%    50%     75%     max
Type
Link     73.318182   85.746240   5.0   19.5   37.0  110.75   379.0
Photo   182.611765  345.245233   0.0   57.0  100.0  186.00  5172.0
Status  176.711111  150.772499  13.0   86.0  150.0  226.00   859.0
Video   231.428571  142.025652  65.0  121.0  204.0  330.00   449.0

Найти самый популярный объект в выборке. Не совсем понятно, что считать критерием популярности поста. Предположим, что это суммарное число лайков, комментариев и репостов (переменная Total Interactions).

In [119]:
data.sort_values(['Total Interactions'], ascending=False).head(1)
#это пост 244

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334